<!-- <div class="row w-100">
    <div class="col-md-4 col-xs-12">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="header-2">
                    <span class="fa fa-hotel fa-fw"></span> Hotels
                </h2>
                <h2 class="header-2">3
                </h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="header-2">
                    <span class="fa fa-money fa-fw"></span> Réservations
                </h2>
                <h2 class="header-2">10
                </h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="header-2">
                    <span class="fa fa-users fa-fw"></span> Utiisateurs
                </h2>
                <h2 class="header-2">7
                </h2>
            </div>
        </div>
    </div>
</div> -->

<div class="analistics p-2">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex justify-content-between border p-3">
                <h4>Offending Car </h4>
                <h4>47</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-between border p-3">
                <h4>Raspberry Pi </h4>
                <h4>12</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-between border p-3">
                <h4>Events </h4>
                <h4>2</h4>
            </div>
        </div>
    </div>
</div>

<div class="events p-2">
    <div class="card">
        <div class="card-header">
            Events
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Event type</th>
                        <th>Car</th>
                        <th>Raspberry pi</th>
                        <th>Location</th>
                        <th>Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DETECTION</td>
                        <td>344AJ01</td>
                        <td>RPI-3</td>
                        <td>Cocody, Abidjan, Cote Ivoire</td>
                        <td>16/07/2023 10:23 am</td>
                    </tr>
                    <tr>
                        <td>TRACKED</td>
                        <td>344AJ01</td>
                        <td>RPI-1</td>
                        <td>Angre Chateau, Abidjan, Cote Ivoire</td>
                        <td>16/07/2023 7:01 am</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
