*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-2 {
    font-size: 1.3rem;
    font-weight: 600;
    //letter-spacing: 1px;
    margin: 0px;

}

.header-3 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
}

.header-4 {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0px;
}

td, th {
    font-size: 13px;
    padding: 7px !important;
}

input, label{
    font-size: 15px;
    height: 30px !important;
}

input:focus, select:focus, textarea:focus{
    box-shadow: none !important;
    padding: 5px !important;
}